@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient-transition {
  position: relative;
  transition: background-image 0.5s ease;
  border: none;
  box-shadow: inset 0 0 0px 1px #83a3d436, inset 0 0 0px 1px rgba(88, 12, 121, 0.671);
}

.custom-gradient-transition::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #83a4d4, rgb(88, 12, 121));
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.custom-gradient-transition:hover::after {
  opacity: 1;
}

/** Loading Screen */

body .loading_screen {
  transition: 0.5s ease-in-out;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #36393f5e;
}

.loading_screen .cubesWrapper {
  left: 48vw;
  top: 45vh;
  position: relative;
  display: inline-block;
  width: 52px;
  height: 52px;
  contain: paint;
}

.loading_screen .cube_loading {
  background-color: #7289da;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubeSpinner 1.8s ease-in-out infinite;
  animation: cubeSpinner 1.8s ease-in-out infinite;
}

.cube_loading:last-child {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubeSpinner {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
    transform: translateX(22px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
    transform: translateX(22px) translateY(22px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes cubeSpinner {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
    transform: translateX(22px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
    transform: translateX(22px) translateY(22px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

/** Fix Search Field */

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}
